automation/workflows/01_research-package.json
{
  "name": "01_자료수집",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0941f7fc-4b09-413a-8106-a24f19abb468",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "3ECO_마스터시트",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2132566108,
          "mode": "list",
          "cachedResultName": "커리큘럼",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=2132566108"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "episode_id",
              "lookupValue": "E001"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "cbc592e3-6bc1-4c7a-832a-9042b41452cc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "CREDENTIAL_ID",
          "name": "Google - 3eco"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=당신은 경제교육 콘텐츠의 자료 조사 담당입니다. 아래 편에 대한 자료 패키지를 작성하세요.\n\n[편 정보]\n편 번호: {{ $json['권'] }} {{ $json['권내_편번호'] }}편\n편 제목: {{ $json['제목'] }}\n핵심 개념어: {{ $json['핵심_개념어'] }}\n학습목표 ①: {{ $json['학습목표_1'] }}\n학습목표 ②: {{ $json['학습목표_2'] }}\n사례 시드: {{ $json['사례_시드'] }}\n연계 개념: {{ $json['연계_개념'] }}\n\n[출력 형식]\n① 메타 정보 — 위 편 정보를 정리하고, 자료 비중(필수/보조)을 판단해 명시\n② 자료 표 — 자료 5~8건. 각 건마다 다음을 모두 기재:\n   자료 유형 / 자료명·핵심 수치 / 출처·발행기관 / 신뢰도 / 최신성 / 활용 시나리오 2~3개 / 시각화 가능 형태\n③ 각 자료가 어느 학습목표에 기여하는지 한 줄로 표시\n\n[자료 유형] 통계 수치, 공식 자료, 연구·논문 결과, 뉴스 인용, 문학·고전 인용, 일상 사례\n\n[필수 준수]\n- 자료는 본문의 근거로 작동해야 합니다. 장식용 자료는 넣지 마세요.\n- 출처는 통계청·한국은행·국세청·OECD 등 공식 기관을 우선하고, 기관명과 연도를 반드시 명시하세요.\n- 최신성은 가급적 3년 이내. 역사적 사례는 시기를 명시하세요.\n- 회피: 정치·종교·지역 비교·특정 인물 명언.\n- 불확실한 수치는 추측해서 쓰지 말고 \"확인 필요\"로 표시하세요."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "05363621-85d3-4d42-bbd7-818e824973a5",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "CREDENTIAL_ID",
          "name": "OpenAI - 3eco"
        }
      }
    },
    {
      "parameters": {
        "folderId": "YOUR_FOLDER_ID",
        "title": "={{ $('Get row(s) in sheet').item.json['episode_id'] }}_자료패키지"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "e957e4d5-230c-4e59-a3c2-298ad099e4ba",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CREDENTIAL_ID",
          "name": "Google OAuth - 3eco"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model').item.json.output[0].content[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "7db7fadb-fc9d-4284-8ba3-c4f091e02a76",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CREDENTIAL_ID",
          "name": "Google OAuth - 3eco"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "nodeGroups": [],
  "tags": []
}
